<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>マイメロ</title>
        <style>
            html {
                text-align: center;
            }
            body {
                display: inline-block;
                text-align: left;
            }
        </style>
    </head>

    <body>
        <h1>マイメロ</h1>

        <p>これは製作途中のホームページです。</p>

        <div>
            <a href="https://x.com/Watanabe0822200">X</a>
        </div>
        <br />
        <div>
            <a
                href="https://www.instagram.com/42251935maimai?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                >Instagram</a
            >
        </div>

        <script>
            console.log("hoge");
        </script>
    </body>
</html>
